interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.trello.com/1/boards/?defaultLists=false&idOrganization=65cb37900e446a315b3b1fbc&name=test+board
  response:
    body:
      string: '{"id":"663e3a2337306192cc7dcb67","name":"test board","desc":"","descData":null,"closed":false,"idOrganization":"65cb37900e446a315b3b1fbc","idEnterprise":null,"pinned":false,"url":"https://trello.com/b/KUOM0LYq/test-board","shortUrl":"https://trello.com/b/KUOM0LYq","prefs":{"permissionLevel":"private","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardCounts":false,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"hiddenPluginBoardButtons":[],"switcherViews":[{"viewType":"Board","enabled":true},{"viewType":"Table","enabled":true},{"viewType":"Calendar","enabled":false},{"viewType":"Dashboard","enabled":false},{"viewType":"Timeline","enabled":false},{"viewType":"Map","enabled":false}],"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundTile":false,"backgroundBrightness":"dark","sharedSourceUrl":null,"backgroundImageScaled":null,"backgroundBottomColor":"#0079BF","backgroundTopColor":"#0079BF","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":"","green_dark":"","yellow_dark":"","orange_dark":"","red_dark":"","purple_dark":"","blue_dark":"","sky_dark":"","lime_dark":"","pink_dark":"","black_dark":"","green_light":"","yellow_light":"","orange_light":"","red_light":"","purple_light":"","blue_light":"","sky_light":"","lime_light":"","pink_light":"","black_light":""},"limits":{}}'
    headers:
      Atl-Traceid:
      - 8e3b870b103842619900f33bbafd51a7
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1715354147834'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.279782.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://api.trello.com/1/boards/663e3a2337306192cc7dcb67/lists?name=Not+Started
  response:
    body:
      string: '{"id":"663e3a2406be4715369a52d6","name":"Not Started","closed":false,"color":null,"idBoard":"663e3a2337306192cc7dcb67","pos":16384,"limits":{}}'
    headers:
      Atl-Traceid:
      - 7d8e42e045eb4b929880be1f655f0414
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '371'
      X-Server-Time:
      - '1715354148644'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.279782.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://api.trello.com/1/boards/663e3a2337306192cc7dcb67/lists?name=Completed
  response:
    body:
      string: '{"id":"663e3a25304803a2ce3421e6","name":"Completed","closed":false,"color":null,"idBoard":"663e3a2337306192cc7dcb67","pos":8192,"limits":{}}'
    headers:
      Atl-Traceid:
      - fb11f7628c2e41798cd1ac6aba7e2066
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '297'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '97'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '370'
      X-Server-Time:
      - '1715354149400'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.279782.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.trello.com/1/boards/663e3a2337306192cc7dcb67/
  response:
    body:
      string: '{"_value":null}

        '
    headers:
      Atl-Traceid:
      - ee9c8ee114e64f0089034613b5cd16be
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '294'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '94'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '369'
      X-Server-Time:
      - '1715354170977'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.279782.0
    status:
      code: 200
      message: OK
version: 1
