interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.trello.com/1/boards/663e3a2337306192cc7dcb67/lists?card_fields=id%2Cname%2Cdesc%2Cdue%2CdateLastActivity&cards=open
  response:
    body:
      string: '[{"id":"663e3a25304803a2ce3421e6","name":"Completed","closed":false,"color":null,"idBoard":"663e3a2337306192cc7dcb67","pos":8192,"subscribed":false,"softLimit":null,"cards":[]},{"id":"663e3a2406be4715369a52d6","name":"Not
        Started","closed":false,"color":null,"idBoard":"663e3a2337306192cc7dcb67","pos":16384,"subscribed":false,"softLimit":null,"cards":[]}]'
    headers:
      Atl-Traceid:
      - c5de054653ef4df9a65944e18f807ad7
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1715354153809'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.279782.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api.trello.com/1/cards?card_fields=id%2Cname%2Cdesc%2Cdue%2CdateLastActivity&cards=open&desc=Test+description&due=2025-01-01T00%3A00%3A00&idList=663e3a2406be4715369a52d6&name=Test+title
  response:
    body:
      string: '{"id":"663e3a2dd5175dd33b3a92f7","badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":0,"attachments":0,"description":true,"due":"2025-01-01T00:00:00.000Z","dueComplete":false,"start":null},"checkItemStates":[],"closed":false,"dueComplete":false,"dateLastActivity":"2024-05-10T15:15:57.105Z","desc":"Test
        description","descData":{"emoji":{}},"due":"2025-01-01T00:00:00.000Z","dueReminder":null,"email":null,"idBoard":"663e3a2337306192cc7dcb67","idChecklists":[],"idList":"663e3a2406be4715369a52d6","idMembers":[],"idMembersVoted":[],"idShort":1,"idAttachmentCover":null,"labels":[],"idLabels":[],"manualCoverAttachment":false,"name":"Test
        title","pos":16384,"shortLink":"RsxdCCR7","shortUrl":"https://trello.com/c/RsxdCCR7","start":null,"subscribed":false,"url":"https://trello.com/c/RsxdCCR7/1-test-title","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"dark","idPlugin":null},"isTemplate":false,"cardRole":null,"attachments":[],"stickers":[],"limits":{}}'
    headers:
      Atl-Traceid:
      - 49ecdb06e0314e6fb98de83d48a4291b
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '297'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '97'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '372'
      X-Server-Time:
      - '1715354157176'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.279782.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://api.trello.com/1/cards/663e3a2dd5175dd33b3a92f7?card_fields=id%2Cname%2Cdesc%2Cdue%2CdateLastActivity&cards=open&idList=663e3a25304803a2ce3421e6
  response:
    body:
      string: '{"id":"663e3a2dd5175dd33b3a92f7","badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDu[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.trello.com/1/cards/663e3a2dd5175dd33b3a92f7?card_fields=id%2Cname%2Cdesc%2Cdue%2CdateLastActivity&cards=open
  response:
    body:
      string: '{"limits":{}}'
    headers:
      Atl-Traceid:
      - 9c88311f36ac4915baf253f61c32d86e
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '296'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '96'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '371'
      X-Server-Time:
      - '1715354166177'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.279782.0
    status:
      code: 200
      message: OK
[...]
