interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.trello.com/1/boards/?defaultLists=false&idOrganization=65cb37900e446a315b3b1fbc&name=test+board
  response:
    body:
      string: '{"id":"6653b12d10831357c328097d","name":"test board","desc":"","descData":null,"closed":false,"idOrganization":"65cb37900e446a315b3b1fbc","idEnterprise":null,"pinned":false,"url":"https://trello.com/b/s4VOH3V1/test-board","shortUrl":"https://trello.com/b/s4VOH3V1","prefs":{"permissionLevel":"private","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardCounts":false,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"hiddenPluginBoardButtons":[],"switcherViews":[{"viewType":"Board","enabled":true},{"viewType":"Table","enabled":true},{"viewType":"Calendar","enabled":false},{"viewType":"Dashboard","enabled":false},{"viewType":"Timeline","enabled":false},{"viewType":"Map","enabled":false}],"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundTile":false,"backgroundBrightness":"dark","sharedSourceUrl":null,"backgroundImageScaled":null,"backgroundBottomColor":"#0079BF","backgroundTopColor":"#0079BF","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":"","green_dark":"","yellow_dark":"","orange_dark":"","red_dark":"","purple_dark":"","blue_dark":"","sky_dark":"","lime_dark":"","pink_dark":"","black_dark":"","green_light":"","yellow_light":"","orange_light":"","red_light":"","purple_light":"","blue_light":"","sky_light":"","lime_light":"","pink_light":"","black_light":""},"limits":{}}'
    headers:
      Atl-Traceid:
      - 5e57dc8439af4df69b227422cc2ed605
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1716760877706'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.283019.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://api.trello.com/1/boards/6653b12d10831357c328097d/lists?name=Not+Started
  response:
    body:
      string: '{"id":"6653b12e20b74c23d83545cd","name":"Not Started","closed":false,"color":null,"idBoard":"6653b12d10831357c328097d","pos":16384,"limits":{}}'
    headers:
      Atl-Traceid:
      - 80e7a2b0e29f482f815c6cc3583be01a
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '373'
      X-Server-Time:
      - '1716760878496'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.283019.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://api.trello.com/1/boards/6653b12d10831357c328097d/lists?name=Completed
  response:
    body:
      string: '{"id":"6653b12f56e709569fbc0f5c","name":"Completed","closed":false,"color":null,"idBoard":"6653b12d10831357c328097d","pos":8192,"limits":{}}'
    headers:
      Atl-Traceid:
      - 4356f70a0656410ea2e790f16a7cf386
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '297'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '97'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '372'
      X-Server-Time:
      - '1716760879484'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.283019.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.trello.com/1/boards/6653b12d10831357c328097d/
  response:
    body:
      string: '{"_value":null}

        '
    headers:
      Atl-Traceid:
      - 34d6729d89db4d228e8ad1e3a6bf6304
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '294'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '94'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '369'
      X-Server-Time:
      - '1716760898398'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.283019.0
    status:
      code: 200
      message: OK
version: 1
