interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.trello.com/1/boards/6653b12d10831357c328097d/lists?card_fields=id%2Cname%2Cdesc%2Cdue%2CdateLastActivity&cards=open
  response:
    body:
      string: '[{"id":"6653b12f56e709569fbc0f5c","name":"Completed","closed":false,"color":null,"idBoard":"6653b12d10831357c328097d","pos":8192,"subscribed":false,"softLimit":null,"cards":[]},{"id":"6653b12e20b74c23d83545cd","name":"Not
        Started","closed":false,"color":null,"idBoard":"6653b12d10831357c328097d","pos":16384,"subscribed":false,"softLimit":null,"cards":[]}]'
    headers:
      Atl-Traceid:
      - 14b6e6cce7ba4b299d3344741a28541c
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1716760883452'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.283019.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api.trello.com/1/cards?card_fields=id%2Cname%2Cdesc%2Cdue%2CdateLastActivity&cards=open&desc=Test+description&due=2025-01-01T00%3A00%3A00&idList=6653b12e20b74c23d83545cd&name=Test+title
  response:
    body:
      string: '{"id":"6653b136fabfac7b2b0d449c","badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"externalSource":null,"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":false,"attachments":0,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":0,"description":true,"due":"2025-01-01T00:00:00.000Z","dueComplete":false,"lastUpdatedByAi":false,"start":null},"checkItemStates":[],"closed":false,"dueComplete":false,"dateLastActivity":"2024-05-26T22:01:26.705Z","desc":"Test
        description","descData":{"emoji":{}},"due":"2025-01-01T00:00:00.000Z","dueReminder":null,"email":null,"idBoard":"6653b12d10831357c328097d","idChecklists":[],"idList":"6653b12e20b74c23d83545cd","idMembers":[],"idMembersVoted":[],"idShort":1,"idAttachmentCover":null,"labels":[],"idLabels":[],"manualCoverAttachment":false,"name":"Test
        title","pos":16384,"shortLink":"mXTdEBEw","shortUrl":"https://trello.com/c/mXTdEBEw","start":null,"subscribed":false,"url":"https://trello.com/c/mXTdEBEw/1-test-title","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"dark","idPlugin":null},"isTemplate":false,"cardRole":null,"attachments":[],"stickers":[],"limits":{}}'
    headers:
      Atl-Traceid:
      - 115116e6aed540938799a4219324be49
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '297'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '97'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '372'
      X-Server-Time:
      - '1716760886821'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.283019.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://api.trello.com/1/cards/6653b136fabfac7b2b0d449c?card_fields=id%2Cname%2Cdesc%2Cdue%2CdateLastActivity&cards=open&idList=6653b12f56e709569fbc0f5c
  response:
    body:
      string: '{"id":"6653b136fabfac7b2b0d449c","badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"externalSource":null,"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":false,"attachments":0,"fogbugz":"","checkItems":0,"chec[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.trello.com/1/cards/6653b136fabfac7b2b0d449c?card_fields=id%2Cname%2Cdesc%2Cdue%2CdateLastActivity&cards=open
  response:
    body:
      string: '{"limits":{}}'
    headers:
      Atl-Traceid:
      - ff350036878d412b9123a69e29f3a16b
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '296'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '96'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '371'
      X-Server-Time:
      - '1716760894059'
      X-Trello-Environment:
      - Production
      X-Trello-Version:
      - 1.283019.0
    status:
      code: 200
      message: OK
[...]
