name: Build and Deploy
on:
  push:
    paths:
      - .github/workflows/**
      - e2eTests/**
      - tests/**
      - todo_app/**
      - Dockerfile
      - poetry.lock
    branches:
      - master
  pull_request:
    paths:
      - .github/workflows/**
      - e2eTests/**
      - tests/**
      - todo_app/**
      - Dockerfile
      - poetry.lock

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    services:
      local_mongodb:
        image: mongo
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: notarealpassword
        ports:
          - 27017:27017
        options: >-
          --name local_mongo
          --quiet

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Cache Docker layers
      uses: actions/cache@v4
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-   

    - name: Integration test build
      uses: docker/build-push-action@v6
      with:
        context: .
        target: pipeline_integration_tests
        tags: todo-app:pipeline_integration_tests
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
        github-token: ${{ secrets.CACHE_GITHUB_TOKEN }}
        load: true

    - name: Run integration tests
      run: docker run todo-app:pipeline_integration_tests

    - name: e2e tests build
      uses: docker/build-push-action@v6
      with:
        context: .
        target: pipeline_e2e_tests
        tags: todo-app:pipeline_e2e_tests
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
        github-token: ${{ secrets.CACHE_GITHUB_TOKEN }}
        load: true

    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache      

    - name: Run e2e tests
      run: >
        docker run
        -e FLASK_APP=todo_app/app
        -e SECRET_KEY="notarealsecretkey12345"
        -e COSMOS_CONNECTION_STRING="mongodb://root:notarealpassword@localhost:27017"
        --network host
        todo-app:pipeline_e2e_tests

    - name: Check for vulnerabilities
      uses: snyk/actions/python-3.10@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

    - name: Report pipeline status
      if: always()
      id: slack
      uses: slackapi/slack-github-action@v1.26.0
      with:
        payload: |
          {
            "name": ${{ toJson(format('Build and test: {0}', github.event.head_commit.message)) }},
            "status": "${{ job.status == 'success' && 'Success :tick:' || 'Failure :no-cross:' }}"
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

  deploy:
    name: Build and deploy
    needs: test
    if:  github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-   

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push production image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          target: production
          tags: trwoodward/todo-app, trwoodward/todo-app:${{ github.sha }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
          github-token: ${{ secrets.CACHE_GITHUB_TOKEN }}

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache      

      - name: Restart App Service
        run: curl -dH -X POST '${{ secrets.APP_SERVICE_WEBHOOK }}'

      - name: Report pipeline status
        if: always()
        id: slack
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "name": ${{ toJson(format('Deploy: {0}', github.event.head_commit.message)) }},
              "status": "${{ job.status == 'success' && 'Success :tick:' || 'Failure :no-cross:' }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
